<html>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            font-size: 16pt;
            background-color: #101010;
            color: lime;
        }
    </style>
    <body>
        <h4>miSSion webserver</h4>
    </body>
</html>